---
import { Schema } from 'astro-seo-schema';

import FormattedDate from '../components/FormattedDate';
import FullPlayButton from '../components/FullPlayButton';
import Layout from '../layouts/Layout.astro';
import { getAllEpisodes, getShowInfo } from '../lib/rss';
import { dasherize } from '../utils/dasherize';

const show = await getShowInfo();

export async function getStaticPaths() {
  const allEpisodes = await getAllEpisodes();

  return allEpisodes.flatMap((episode) => {
    return [
      {
        params: { episode: episode.episodeNumber },
        props: { episode }
      },
      {
        params: { episode: episode.episodeSlug },
        props: { episode }
      }
    ];
  });
}

const { episode } = Astro.props;

const canonicalURL = new URL(`/${episode.episodeSlug}`, Astro.url);

const title = `${episode.title} - ${show.title} - Episode ${episode.episodeNumber}`;
---

<Layout
  canonicalURL={canonicalURL}
  description={episode.description}
  imageUrl={episode.episodeImage}
  title={title}
>
  <Schema
    slot="head"
    item={{
      '@context': 'https://schema.org',
      '@type': 'PodcastEpisode',
      name: episode.title,
      datePublished: new Date(episode.published).toISOString(),
      description: episode.description,
      episodeNumber: episode.episodeNumber,
      url: canonicalURL.toString(),
      image: episode.episodeImage || show.image,
      duration: `PT${Math.floor(episode.duration / 60)}M${episode.duration % 60}S`,
      associatedMedia: {
        '@type': 'MediaObject',
        contentUrl: episode.audio?.src,
        encodingFormat: episode.audio?.type || 'audio/mpeg'
      },
      partOfSeries: {
        '@type': 'PodcastSeries',
        name: show.title,
        url: Astro.site?.toString()
      }
    }}
  />

  <meta slot="head" property="og:audio" content={episode.audio?.src} />
  <meta
    slot="head"
    property="article:published_time"
    content={new Date(episode.published).toISOString()}
  />

  <div class="relative z-10 px-8 lg:px-18">
    <div class="overflow-hidden break-words">
      <FormattedDate date={new Date(episode.published)} />

      <h1
        class="text-light-text-heading mb-4 text-2xl font-bold lg:mb-6 lg:text-5xl dark:text-white"
        style={'view-transition-name: vt-' + dasherize(episode.title)}
      >
        Episode {episode.episodeNumber}: {episode.title}
      </h1>

      <p class="mb-8">
        {episode.description}
      </p>

      <div class="mb-8">
        <FullPlayButton
          client:visible
          episode={{
            audio: episode.audio,
            episodeNumber: episode.episodeNumber,
            id: episode.id,
            title: episode.title
          }}
        />
      </div>
    </div>
  </div>
</Layout>
